.dropdown {
    position: relative;
    padding-left: 25px;
}

.select {
    border: none;
    padding-left: 20px;
    background-color: inherit;
    color: rgb(var(--primair));
    font-size: 14px;
    border: none;
    width: 100%;
}

.select option {
    color: rgb(var(--primair));
}

.select option:first-child {
    color: rgb(var(--white02));
}

.noneSelected{
    color: rgb(var(--white02));
    font-style: italic;
}

.MuiSelect-select {
    padding-left: 0 !important;
}

@media (max-width: 700px) {
    .dropdown {
        padding-left: 10px;
    }
}