.MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding: 0px 0px 0px 16px !important;
  height: 22px !important;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  transform: translate(16px, 2px) !important;
  font-style: italic;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(var(--white05)) !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}
