.editContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.editIncidentContainer{
    display: flex;
}

.trashBtn,
.addBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: rgb(var(--TextOnWhite));
}

.trashBtn:hover,
.addBtn:hover {
    fill: rgb(var(--secundair));
}