.addAandachtContainer{
    width: 500px;
}

.aandacht_BarContainer {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addAandachtBtn {
    position: relative;
    background-color: rgb(var(--TextOnWhite));
    color: rgb(var(--white07));
    border: none;
    border-radius: 3px;
    height: 22px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    &:hover{
        background-color: rgb(var(--secundair));
        color: rgb(var(--white09));
    }
}