.modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition-duration: .3s;
    padding: 5rem;
}
.modal {
    // overflow: hidden;
    position: absolute;
    max-width: 800px;
    min-width: 350px;
    height: auto;
    max-height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--white07));
    border-radius: 5px;
    transition-duration: .3s;
}
.modalTitleBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background-color: rgb(var(--TextOnWhite));
    color: rgb(var(--white06));
    padding-left: 24px;
    padding-right: 3px;
}

.modalInput {
    margin: 10px;
}
.closeBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2px;
}