.searchbarContainer {
    width: 100%;
}

.MuiAutocomplete-listbox {
    height: 100px;
    background-color: white;
}

.MuiInputBase-root {
    height: 24px !important;
}

.MuiOutlinedInput-root .MuiAutocomplete-input {
    margin: 0px !important;
}