.searchbarContainer {
    width: 100%;
    margin-right: 4px;
}

.MuiAutocomplete-listbox {
    height: 100px;
}

.MuiInputBase-root {
    height: 24px !important;
}

@media (max-width: 700px) {

    .searchbarContainer {
        width: 50&;
    }
}

@media (max-width: 1200px) {
    .searchbarContainer {
        width: 75%;
    }
}