.searchbarContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% -  2px);
    height: 28px;
}

.searchBtn {
    border: none;
    display: flex;
    height: 28px;
    border-radius: 3px;
    background-color: rgb(var(--TextOnWhite));
    cursor: pointer;
    color: rgb(var(--white09));
    text-align: center;
    border-radius: 3px;
    align-items: center;
    &:hover{
        background-color: rgb(var(--white03));
    }
}
