.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #091451;
    min-width: 350px;
    align-items: center;
}

.headerImage {
    margin: 12px;
}

.tabHeaderContainer {
    z-index: 5;
    display: flex;
    justify-content: center;
}

.headerSide {
    display: flex;
    height: 3rem;
    gap: 6px;
    align-items: center;
}

.headerBtn {
    display: flex;
    border: none;
    height: 24px;
    border-radius: 3px;
    background-color: #C29435;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    align-items: center;

    &:hover {
        background-color: rgb(var(--white03));
    }
}

.saveBtn,
.userBtn,
.logOutBtn {
    fill: rgb(var(--white07));
    width: 24px;
}

.saveBtn:hover,
.userBtn:hover,
.logOutBtn:hover {
    fill: rgb(var(--secundair));
}

@media (max-width: 700px) {

    .header {
        flex-direction: column;
        position: relative;
    }

    .headerSide {
        height: 2.4rem;
    }
}

@media (max-width: 1200px) {
    // .header {
    //     max-width: 800px;
    // }
}