.headerContainer {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(var(--white06));
    box-shadow: 0px 1px 10px rgb(var(--white00));
}

.header {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    min-width: 350px;
}

.saveBtn {
    position: absolute;
    left: 2rem;
    border: none;
    height: 28px;
    border-radius: 3px;
    background-color: rgb(var(--TextOnWhite));
    cursor: pointer;
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }

@media (max-width: 700px) {
    .headerContainer {
        height: calc(6rem - 5px);
        .header {
            flex-direction: column;
            gap: 2px;
        }
    }
}