.datePicker::placeholder {
    font-style: italic;
    color: rgb(var(--white02));
}

fieldset {
    border-width: 0 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    left: -10px !important;
}