.datePicker {
    width: 100%;
 }

.datePicker::placeholder {
    font-style: italic;
    color: rgb(var(--white02));
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    left: -10px !important;
}