.css-1azl6jz-MuiTableCell-root, .css-1ygcj2i-MuiTableCell-root {
    color: rgb(var(--white09)) !important;
    background-color: rgb(var(--TextOnWhite)) !important;
    font-weight: 550!important;
    font-family: Arial, Helvetica, sans-serif !important;
}