.evaluatieContainer {
    position: relative;
    margin: 0 1rem;
    border: 1px solid rgb(var(--TextOnWhite));
    background-color: rgb(var(--white03));
    border-radius: 3px;
}

.evaluatieHeader {
    display: flex;
    width: 100%;
    height: 28px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 7px;
    background-color: rgb(var(--TextOnWhite));
    color: rgb(var(--white07));
    fill: rgb(var(--white07));
    cursor: pointer;
}

.evaluatieHeader:hover {
    color: rgb(var(--secundair));
    fill: rgb(var(--secundair));
}

.evaluatie_BarContainer {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.evaluatieButtonContainer {
    display: flex;
    gap: 4px;
}

.bar {
    grid-template-columns: 50% auto;
    max-height: initial;
}

.barTitle {
    height: initial;
}

.MuiDateCalendar-root {
    max-width: 350px;
}