.currentDate{
    position: relative;
    display: inline-block;
    height: 30px;
    color: rgb(var(--TextOnWhite));
    font-size: 18px;
    font-weight: 600;
    align-content: center;
    margin-left:30px;
}

.css-1bixp4x-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: none !important;
    background-color: rgba(var(--secundair), 0.2) !important;
    border-radius: 50%;
}
.css-jruog0-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: none !important;
    ::after {
        content: "";
        display: flex;
        position: relative;
        height: 100%;
        background-color: rgba(var(--TextOnWhite), 0.2);
        border-radius: 50%;
    }
}

.css-8jbzye-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: none !important;
    ::after {
        content: "";
        display: flex;
        position: relative;
        height: 100%;
        background-color: rgba(var(--secundair), 0.2);
        border-radius: 50%;
    }
}