.deleteContainer{
    text-align: center;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 12px;
}

.deleteButton {
    width: 50px;
    height: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
