.deleteContainer {
    text-align: center;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 12px;
}

.deleteBtn {
    width: 50px;
    height: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(var(--white07));
    background-color: rgb(var(--TextOnWhite));
}

.deleteBtn:hover {
    background-color: rgb(var(--white00));
}

.deleteBtn-danger:hover {
    background-color: rgb(var(--danger));
}